.places {
    padding-top: 14px;

}

@media (min-width: 768px) {
    .lead__image {
        padding-top: 38px;
    }
}

@media (min-width: 1024px) {
    .lead__image {
        padding-top: 42px;
    }
}