.places {
    padding-top: 64px;
    padding-bottom: 16px;
}

@media (min-width: 768px) {
    .places {
        padding: 88px 24px 18px;
    }
}

@media (min-width: 1024px) {
    .places {
        padding: 92px 48px 12px;
    }
}

@media (min-width: 1080px) {
    .places {
        padding-left: calc((100% - 984px)/2);
        padding-right: calc((100% - 984px)/2);
    }
}