.cover__subtitle {
    position: relative;
    margin: 0 auto;
    width: 288px;
    line-height: 1.14;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 16px 16px 0px;
    z-index:2;
}

@media (min-width: 768px) {
    .cover__subtitle {
        line-height: 1.22;
        font-size: 18px;
        width: 360px;
    }
}