.footer__link {
    padding-top: 32px;
    text-decoration: none;
}

.footer__link:first {
    padding-top: 0;
}

@media (min-width: 768px) {
    .footer__link {
        padding-right: 18px;
    }
}