.footer__links {
    line-height: 1;
    font-size: 24px;
    font-weight: 400;
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
    padding: 64px 0 48px;
}

@media (min-width: 768px) {
    .footer__links {
        padding-top: 88px;
    }
}

@media (min-width: 1024px) {
    .footer__links {
        padding-top: 92px;
    }
}