.footer__copyright {
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

@media (min-width: 768px) {
    .footer__copyright {
        line-height: 1.14;
        padding-top: 90px;
    }
}

@media (min-width: 1024px) {
    .footer__copyright {
        padding-top: 94px;
    }
}