.intro {
    margin: 0;
    padding: 64px 16px 64px 16px;
}

@media (min-width: 768px) {
    .intro {
        padding-left: 24px;
        padding-right: 24px;
        max-width: 720px;
    }
}

@media (min-width: 1024px) {
    .intro {
        padding-left: 48px;
        max-width: 690px;
    }
}