.cover {
    max-width: 1184px;
}

.cover:hover .cover__overlay {
    opacity: 0.8;
    transition: opacity 0.5s linear 0.2s;
}

@media (min-width: 1080px) {
    .cover {
        padding-left: calc((100% - 1184px)/2);
        padding-right: calc((100% - 1184px)/2);
    }
}