.cover__background {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    height: 62.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}


.cover__background:hover .cover__overlay {
    opacity: 0.8;
    transition: opacity 0.5s linear 0.2s;
}