.cover__title {
    position: relative;
    margin: 0 auto;
    width: 288px;
    line-height: 1.09;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    z-index: 2;
}

@media (min-width: 768px) {
    .cover__title {
        line-height: 1.06;
        font-size: 72px;
        width: 560px;
    }
}