.header__lang-links {
    margin: 0;
    padding-top: 14px;
    line-height: 1.11;
    font-size: 18px;
    font-weight: 400;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}